@import "vars";
@import "mixins";

@mixin custom-mobile-breakpoint {
  @media screen and (min-width: 1199px) {
    @content;
  }
}

.company-advantages {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background-size: cover;
  background: url("../../assets/images/bg/company/company-advantages.svg")
    no-repeat top right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 140px;
  overflow: hidden;
  // @include content-alignment(0);

  @include mobile {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 100%;
    background: url("../../assets/images/bg/company/company-advantages-top-sm.svg")
      no-repeat;
    background-size: 124px 161px;
    z-index: 2;
    pointer-events: none;

    @include tablet {
      background: url("../../assets/images/bg/company/company-advantages-top-md.svg")
        no-repeat;
      background-size: 252px 291px;
    }

    @include desktop-lg {
      background: url("../../assets/images/bg/company/company-advantages-top-lg.svg")
        no-repeat;
      background-size: 261px 299px;
    }

    @include desktop-xl {
      background: url("../../assets/images/bg/company/company-advantages-top-xl.svg")
        no-repeat;
      background-size: 408px 490px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../../assets/images/bg/company/company-advantages-bottom-sm.svg")
      no-repeat;
    width: 174px;
    height: 227px;

    @include tablet {
      background: url("../../assets/images/bg/company/company-advantages-bottom-md.svg")
        no-repeat;
      width: 252px;
      height: 291px;
    }

    @include desktop-lg {
      background: url("../../assets/images/bg/company/company-advantages-bottom-lg.svg")
        no-repeat;
      width: 261px;
      height: 299px;
    }

    @include desktop-xl {
      background: url("../../assets/images/bg/company/company-advantages-bottom-xl.svg")
        no-repeat;
      width: 377px;
      height: 592px;
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;

    @include tablet {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 40px 38px;
    }

    @include desktop-lg {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 16px 16px;
    }

    @include custom-mobile-breakpoint {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0 36px;
    }

    position: relative;
    z-index: 2;
  }
}

.company-advantage-block {
  position: relative;
  box-shadow: 0 5px 10px #0000001a;
  border-radius: 10px;
  background: map-get($colors, "white");
  width: 100%;
  height: 100%;
  max-width: 494px;
  transition: all ease-in-out 0.5s;

  &__front {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__back {
    opacity: 0;
    padding: 30px;
  }

  &:hover {
    @include desktop-lg {
      background: map-get($colors, "red");
      transition: 0.2s;
    }

    & > .company-advantage-block__front {
      opacity: 0;
      transition: 0.2s;
    }

    & > .company-advantage-block__back {
      opacity: 1;
      transition: 0.6s;
    }
  }

  &__icon-wrapper {
    background: map-get($colors, "red");

    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
  }

  &__text-wrapper {
    padding: 20px;
  }

  &__icon {
    width: 143px;
    height: 111px;
    margin-bottom: 36px;

    &--mobile {
      width: 41px;
      height: 36px;

      & g,
      path,
      line,
      circle {
        stroke: map-get($colors, "white");
      }
    }
  }

  &__title {
    margin: 0;
    font-weight: map-get($font-weight, "black");
    font-size: 36px;
    line-height: 45px;
    color: map-get($colors, "black");

    &--back {
      color: map-get($colors, "white");
      margin: 0 0 15px;
    }

    &--mobile {
      font-size: 24px;
      line-height: 30px;
      margin: 0 0 5px;
    }
  }

  &__text {
    margin: 0;
    font-weight: map-get($font-weight, "regular");
    font-size: 18px;
    line-height: 22px;
    color: map-get($colors, "white");

    &--mobile {
      color: map-get($colors, "black");
      font-size: 12px;
      line-height: 15px;
    }

    span {
      display: block;
      margin-bottom: 15px;
    }
  }
}
