@import "vars";
@import "mixins";

.cookies-popup {
  display: none;
  position: fixed;
  z-index: 10;
  bottom: 10px;
  left: 10px;
  width: 285px;
  height: 214px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  background: map-get($colors, "white") 0 0% no-repeat padding-box;
  overflow: hidden;
  font-weight: map-get($font-weight, "regular");
  font-size: 14px;
  line-height: 18px;

  @include tablet {
    width: 499px;
    height: 225px;
    font-size: 16px;
    line-height: 20px;
    bottom: 20px;
    left: 30px;
  }

  @include desktop-xl {
    height: 252px;
    font-size: 18px;
    line-height: 22px;
  }

  &--active {
    display: block;
  }

  &--higher {
    bottom: 200px;

    @include tablet {
      bottom: 120px;
    }

    @include desktop-lg {
      bottom: 20px;
    }
  }

  &--higher-if-collapsed {
    bottom: 115px;

    @include tablet {
      bottom: 120px;
    }

    @include desktop-lg {
      bottom: 20px;
    }
  }

  &__header {
    height: 10px;
    background-color: map-get($colors, "red");
  }

  &__body {
    padding: 15px 20px 30px 20px;
    text-align: center;

    @include tablet {
      padding: 35px 40px 39px 40px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include tablet {
      padding-left: 50px;
    }
  }

  &__accept-btn {
    cursor: pointer;
    background: map-get($colors, "red");
    border: 2px solid map-get($colors, "white");
    border-radius: 31px;
    width: 122px;
    height: 38px;
    text-align: center;
    font-weight: map-get($font-weight, "regular");
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: map-get($colors, "white");
    text-transform: uppercase;
    transition: all ease-in 0.4s;

    @include tablet {
      width: 234px;
    }

    &:hover,
    &:active,
    &:focus {
      background: map-get($colors, "white");
      color: map-get($colors, "red");
      border-color: map-get($colors, "red");
    }
  }

  &__more-btn {
    text-align: center;
    text-decoration: underline;
    font-weight: map-get($font-weight, "black");
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    color: map-get($colors, "red");
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}
