@import "vars";
@import "mixins";

.documents {
  scroll-snap-align: start;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: 51px;
  padding-bottom: 53px;
  width: 100vw;
  background-size: cover;
  background: map-get($colors, "white");
  padding-top: 84px;
  padding-bottom: 84px;
  align-items: center;
  justify-content: center;

  @include mobile {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
  }

  @include tablet {
    padding-top: 93px;
    padding-bottom: 88px;
  }

  @include desktop-lg {
    padding-top: 60px;
    padding-bottom: 60px;
    background: url("../../assets/images/bg/top-market-page/left/top-lg.svg")
      no-repeat top;
  }

  @include desktop-xl {
    padding-top: 163px;
    padding-bottom: 120px;
    background: url("../../assets/images/bg/top-market-page/left/top-xl.svg")
      no-repeat top;
  }

  &__wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @include desktop-lg {
      max-width: 1200px;
    }

    @include desktop-xl {
      max-width: 1680px;
    }
  }

  &__title {
    font-weight: map-get($font-weight, "black");
    color: map-get($colors, "red");
    font-size: 30px;
    line-height: 37px;
    margin: 0 0 20px;

    @include tablet {
      font-size: 42px;
      line-height: 53px;
      margin: 0 0 33px;
    }

    @include desktop-lg {
      font-size: 36px;
      line-height: 45px;
      margin: 0 0 61px;
    }

    @include desktop-xl {
      font-size: 68px;
      line-height: 85px;
      margin: 0 0 80px;
    }
  }

  &__text {
    margin: 0;
    color: map-get($colors, "black");
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    @include tablet {
      font-size: 24px;
      line-height: 30px;
    }

    @include desktop-xl {
      font-size: 36px;
      line-height: 45px;
    }

    .subtitle {
      display: block;
      margin-bottom: 15px;
    }
  }

  &__files {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr;
    gap: 15px 19px;
    padding-top: 30px;

    @include tablet {
      gap: 22px 22px;
      padding-top: 88px;
    }

    @include desktop-lg {
      gap: 44px 44px;
      padding-top: 100px;
    }

    @include desktop-xl {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 82px 150px;
    }
  }
}

.document {
  width: 100%;
  height: 100%;
  background: map-get($colors, "white");
  box-shadow: 0 5px 10px #0000001a;
  padding: 29px;
  max-width: 168px;
  position: relative;

  &:after {
    opacity: 0;
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: map-get($colors, "red");
    transition: opacity 0.3s ease;
  }

  @include tablet {
    max-width: 351px;
  }

  @include desktop-lg {
    max-width: 366px;
  }

  @include desktop-xl {
    max-width: 403px;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__icon {
    margin-bottom: 16px;

    @include tablet {
      margin-bottom: 18px;
    }

    @include desktop-lg {
      margin-bottom: 14px;
    }

    @include desktop-xl {
      margin-bottom: 50px;
    }
  }

  &__name {
    display: block;
    text-align: center;
    font-weight: map-get($font-weight, "black");
    color: map-get($colors, "black");
    margin-bottom: 11px;
    font-size: 14px;
    line-height: 18px;

    @include tablet {
      margin-bottom: 18px;
      font-size: 24px;
      line-height: 30px;
    }

    @include desktop-lg {
      margin-bottom: 14px;
    }

    @include desktop-xl {
      margin-bottom: 28px;
    }
  }

  &__mock-btn {
    display: block;
    margin: 0 auto;
    border-width: 2px;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 30px;
    width: 100px;

    @include tablet {
      width: 132px;
    }

    @include desktop-lg {
      line-height: 58px;
      width: 180px;
      font-size: 22px;
    }
  }
}
