@use "vars" as *;
@use "mixins" as *;
@use "sass:map";

.education-page-promotion {
  position: relative;
  background: url("/images/bg/split-bg/bg-sm.svg") no-repeat bottom;
  background-size: cover;
  padding-top: 84px;
  padding-bottom: 66px;
  @include tablet {
    padding-top: 138px;
    padding-bottom: 102px;
    background: url("/images/bg/split-bg/bg-md.svg") no-repeat bottom;
    background-size: cover;
  }
  @include desktop-lg {
    padding-top: 138px;
    padding-bottom: 125px;
    background: url("/images/bg/split-bg/bg-lg.svg") no-repeat right;
    background-size: cover;
  }
  @include desktop-xl {
    padding-top: 219px;
    padding-bottom: 261px;
    background: url("/images/bg/split-bg/bg-xl.svg") no-repeat center;
    background-size: cover;
  }
  .top-market-promotion__wrapper {
    flex-direction: column-reverse;

    @include desktop-lg {
      flex-direction: row;
    }
  }
  .top-market-promotion__text {
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    @include tablet {
      font-size: 30px;
      line-height: 37px;
    }

    @include desktop-lg {
      font-size: 34px;
      line-height: 42px;
      text-align: left;
    }

    @include desktop-xl {
      font-size: 58px;
      line-height: 60px;
    }
  }
  .top-market-promotion__note {
    font-weight: map.get($font-weight, "black");
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    @include tablet {
      font-size: 22px;
      line-height: 27px;
    }

    @include desktop-lg {
      text-align: left;
    }

    @include desktop-xl {
      font-size: 28px;
      line-height: 45px;
    }
  }
  .top-market-promotion__btn {
    text-transform: unset;
    transition: all ease-in 0.4s;

    @include desktop-lg {
      color: map.get($colors, "white");
    }

    &:hover,
    &:focus,
    &:active {
      color: map.get($colors, "red");
      background-color: map.get($colors, "white");
    }
  }
}

.top-market-promotion--education {
  color: map.get($colors, "white");
  padding-top: 279px;
  padding-bottom: 203px;
  @include mobile {
    &:before {
      width: 152px;
      height: 198px;
    }
    &:after {
      width: 152px;
      height: 198px;
      bottom: -15px;
    }
  }
  @include tablet {
    padding-top: 165px;
    padding-bottom: 149px;
  }
  @include desktop-lg {
    padding-top: 166px;
    padding-bottom: 166px;
  }
  @include desktop-xl {
    padding-top: 215px;
    padding-bottom: 215px;
  }
  .top-market-promotion__block {
    @include desktop-lg {
      width: 50%;
    }
  }
  .top-market-promotion__wrapper {
    align-items: flex-start;

    @include desktop-lg {
      flex-direction: row-reverse;
    }
  }
  .top-market-promotion__description {
    margin: 30px auto;

    @include tablet {
      max-width: 633px;
    }

    @include desktop-lg {
      max-width: 421px;
      margin: 0;
    }

    @include desktop-xl {
      max-width: 640px;
    }
  }
  .top-market-promotion__text {
    font-size: 24px;
    line-height: 30px;

    @include tablet {
      font-size: 24px;
      line-height: 35px;
    }

    @include desktop-lg {
      font-size: 28px;
      line-height: 35px;
      text-align: left;
    }

    @include desktop-xl {
      font-size: 36px;
      line-height: 45px;
    }
  }
  .top-market-promotion__note {
    font-size: 14px;
    line-height: 20px;
    @include limit-lines(4);

    @include tablet {
      font-size: 16px;
      line-height: 25px;
    }

    @include desktop-lg {
      font-size: 18px;
      line-height: 20px;
      text-align: left;
    }

    @include desktop-xl {
      font-size: 24px;
      line-height: 30px;
      margin: 37px 0 0;
    }
  }
}
