@import "vars";

.lang-select {
  height: 40px;
  padding: 0 27px 0 35px;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 3px;
  border: 2px solid map-get($colors, "red");
  border-radius: $border-radius-header;
  background: transparent;
  cursor: pointer;
  outline: none;

  &__title {
    font-weight: map-get($font-weight, "regular");
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: map-get($colors, "white");
    text-transform: uppercase;
  }

  &--header {
    height: 25px;
    padding: unset;
    border: unset;
  }

  &--active {
    background: map-get($colors, "red");
  }

  &__flag {
    width: 25px;
    height: auto;
    box-shadow: 0 0 2px 1px #0000001a;
  }

  &__icon {
    transition: transform 0.3s;

    &--up {
      transform: scale(1, -1);
    }
  }
}
