@use "vars" as *;
@use "mixins" as *;
@use "sass:map";

.marketing-circle {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/images/marketing-circle/bg-sm.svg");
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
  overflow: hidden;
  &__container {
    position: relative;
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include small-mobile {
    padding: 0 10px;
  }
  @include mobile {
    padding: 0;
    overflow: visible;
  }
  @include tablet {
    background-image: url("/images/marketing-circle/bg-md.svg");
    height: 1010px;
  }
  @include desktop-lg {
    background-image: url("/images/marketing-circle/bg-lg.svg");
    height: 879px;
    background-size: unset;
  }
  @include desktop-xl {
    background-image: url("/images/marketing-circle/bg-xl.svg");
    height: 1276px;
  }
  @include desktop-2k {
    background-image: url("/images/marketing-circle/bg-xl.svg");
    background-size: 2200px auto;
    padding-bottom: 100px;
    padding-top: 0;
  }
  @include desktop-5k {
    background-image: url("/images/marketing-circle/bg-xl.svg");
    background-size: 3200px auto;
    padding-bottom: 100px;
    padding-top: 0;
  }
  &__wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    @include small-mobile {
      top: 10px;
      gap: 73px;
    }
    @include mobile {
      top: 15px;
      gap: 75px;
      overflow: visible;
    }
    @include tablet {
      max-width: 720px;
      padding-top: 130px;
      gap: 78px;
    }
    @include desktop-lg {
      max-width: 1200px;
      padding-top: 180px;
      gap: 55px;
    }
    @include desktop-xl {
      max-width: 1680px;
      padding-top: 100px;
      gap: 115px;
    }
    @include desktop-2k {
      max-width: 2400px;
      padding-top: 100px;
      gap: 130px;
    }
    @include desktop-5k {
      max-width: 3840px;
      padding-top: 0;
    }
    &--bigger-lang {
      @include small-mobile {
        padding-top: 5px;
        gap: 75px;
      }
      @include mobile {
        top: 0;
        gap: 78px;
      }
      @include tablet {
        padding-top: 130px;
        gap: 78px;
      }
      @include desktop-lg {
        padding-top: 180px;
        gap: 55px;
      }
      @include desktop-xl {
        padding-top: 160px;
        gap: 80px;
      }
      @include desktop-2k {
        padding-top: 100px;
        gap: 130px;
      }
      @include desktop-5k {
        max-width: 3840px;
        padding-top: 0;
      }
    }
  }
  &__row {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    position: relative;
    .marketing-circle__item:first-child {
      margin-right: 60px;
      @include small-mobile {
        margin-right: 20px !important;
      }
      @include mobile {
        margin-right: 55px;
      }
      @include tablet {
        margin-right: 120px;
      }
      @include desktop-lg {
        margin-right: 200px;
      }
      @include desktop-xl {
        margin-right: 300px;
      }
    }
    .marketing-circle__item:last-child {
      margin-left: 60px;
      @include small-mobile {
        margin-left: 20px !important;
      }
      @include mobile {
        margin-left: 55px;
      }
      @include tablet {
        margin-left: 120px;
      }
      @include desktop-lg {
        margin-left: 200px;
      }
      @include desktop-xl {
        margin-left: 300px;
      }
    }
  }
  &__item {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 60px;
    font-weight: map.get($font-weight, "black");
    font-size: 9px;
    line-height: 12px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 136px;
    min-width: 136px;
    max-width: 136px;
    min-height: 50px;
    &--rtl {
      direction: rtl;
      text-align: center;
    }
    @include small-mobile {
      font-size: 9px;
      line-height: 12px;
      width: 136px;
      min-width: 136px;
      max-width: 136px;
      min-height: 50px;
      padding: 7px;
    }
    @include mobile {
      font-size: 9px;
      width: 136px;
      min-width: 136px;
      max-width: 136px;
      min-height: 50px;
      padding: 7px;
      margin: 0 auto;
    }
    @include tablet {
      font-size: 17px;
      line-height: 15px;
      width: fit-content;
      max-width: 255px;
      min-height: 85px;
      padding: 17px 20px;
    }
    @include desktop-lg {
      font-size: 20px;
      line-height: 25px;
      width: 330px;
      max-width: unset;
      min-height: 90px;
      padding: 12px 30px;
    }
    @include desktop-xl {
      font-size: 32px;
      line-height: 40px;
      width: 550px;
      max-width: 550px;
      min-height: 140px;
      padding: 20px 30px;
    }
    &-text {
      margin: 0;
    }
  }
  &__btn {
    margin: 0 auto;
    z-index: 2;
    white-space: nowrap;
    @include small-mobile {
      width: 160px;
      font-size: 11px;
      line-height: 28px;
      margin-top: 50px;
    }
    @include mobile {
      width: 190px;
      font-size: 12px;
      line-height: 31px;
      margin-top: 80px;
      margin-bottom: 0;
    }
    @include tablet {
      font-weight: map.get($font-weight, "black");
      font-size: 24px;
      line-height: 62px;
      width: 380px;
      margin-top: 80px;
    }
    @include desktop-lg {
      margin-top: 80px;
    }
    @include desktop-xl {
      margin-top: 60px;
    }
    @include desktop-2k {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 880px) and (max-width: 890px) {
    .marketing-circle {
      height: 1010px;

      .promotion-markets__svg {
        top: 45%;
        width: 320px;
      }
      &.marketing-circle__item--rtl {
        margin-right: 0;
        margin-left: 60px;

        @include small-mobile {
          margin-right: 0 !important;
          margin-left: 20px !important;
        }

        @include mobile {
          margin-right: 0;
          margin-left: 55px;
        }

        @include tablet {
          margin-right: 0;
          margin-left: 120px;
        }

        @include desktop-lg {
          margin-right: 0;
          margin-left: 350px;
        }

        @include desktop-xl {
          margin-right: 0;
          margin-left: 300px;
        }
      }
      &.marketing-circle__item--rtl {
        margin-left: 0;
        margin-right: 60px;

        @include small-mobile {
          margin-left: 0 !important;
          margin-right: 20px !important;
        }

        @include mobile {
          margin-left: 0;
          margin-right: 55px;
        }

        @include tablet {
          margin-left: 0;
          margin-right: 120px;
        }

        @include desktop-lg {
          margin-left: 0;
          margin-right: 180px;
        }

        @include desktop-xl {
          margin-left: 0;
          margin-right: 300px;
        }
      }
      .marketing-circle__item-text {
        direction: rtl;
        text-align: center;
      }
    }
  }

  .promotion-markets__svg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 200px;
    height: auto;

    @include mobile {
      top: 38%;
      width: 150px;
      height: auto;
    }

    @include tablet {
      top: 40%;
      width: 300px;
    }

    @include desktop-lg {
      top: 50%;
      width: 460px;
    }

    @include desktop-xl {
      top: 44%;
      width: 560px;
    }

    @include small-mobile {
      top: 38%;
      width: 120px;
    }
  }
}
