@use "vars" as *;
@use "mixins" as *;
@use "sass:map";

.market-item {
  padding: 86px 0 80px;
  display: flex;
  position: relative;
  flex-direction: column;
  @include mobile {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
  }
  @include tablet {
    padding: 120px 0;
  }
  @include desktop-lg {
    flex-direction: row;
    justify-content: space-between;
    padding: 124px 0;
  }
  @include desktop-xl {
    padding: 210px 0 216px 0;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 100%;
    background: url("/images/all-markets/top-bg-sm.svg") no-repeat
      right top;
    background-size: 95px 114px;
    z-index: 1;
    pointer-events: none;
    @include tablet {
      background: url("/images/all-markets/top-bg-md.svg") no-repeat
        right top;
      background-size: 219px 263px;
    }
    @include desktop-xl {
      background: url("/images/all-markets/top-bg-lg.svg") no-repeat
        right top;
      background-size: 332px 398px;
    }
  }
  &--gray {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      width: 100vw;
      height: 100%;
      background-color: #f9f9f9;
      z-index: -999999999;
    }
  }
  &__advantages {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    @include tablet {
      padding-top: 57px;
      padding-right: 9px;
    }
    @include desktop-lg {
      padding-left: 44px;
      padding-top: unset;
      padding-right: unset;
      padding-top: 30px;
    }
    @include desktop-xl {
      padding-left: 74px;
      padding-top: 50px;
    }
  }
  &__title {
    margin: 0;
    font-weight: map.get($font-weight, "black");
    font-size: 36px;
    line-height: 45px;
    color: map.get($colors, "black-secondary");
    @include tablet {
      font-size: 54px;
      line-height: 67px;
    }
  }
  &__text {
    font-weight: map.get($font-weight, "regular");
    font-size: 12px;
    line-height: 20px;
    color: map.get($colors, "black-secondary");
    padding-top: 30px;
    padding-bottom: 30px;
    @include tablet {
      font-size: 28px;
      line-height: 45px;
      padding-top: 39px;
      padding-bottom: 40px;
    }
    @include desktop-lg {
      font-size: 24px;
      line-height: 35px;
    }
    @include desktop-xl {
      font-size: 28px;
      line-height: 45px;
    }
  }
  &__btn {
    background: map.get($colors, "red") 0 0% no-repeat padding-box;
    border: 2px solid map.get($colors, "white");
    border-radius: 31px;
    width: 254px;
    height: 42px;
    text-align: center;
    font-weight: map.get($font-weight, "black");
    font-size: 16px;
    line-height: 20px;
    color: map.get($colors, "white");
    text-transform: uppercase;
    padding-top: 9px;
    margin-left: 10px;
    @include tablet {
      width: 380px;
      height: 62px;
      font-size: 24px;
      line-height: 30px;
      padding-top: 13px;
      margin-left: unset;
    }
    @include desktop-lg {
      margin-top: 100px;
    }
    @include desktop-xl {
      margin-top: 150px;
    }
    &:hover {
      background: map.get($colors, "white") 0 0% no-repeat padding-box;
      color: map.get($colors, "red");
      border: 2px solid map.get($colors, "red");
    }
  }
  &__icon {
    width: 51px;
    @include tablet {
      width: 71px;
    }
  }
    span {
      display: block;
    }
}
