@import "vars";
@import "mixins";

.meta-trader {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 39px;
  padding-bottom: 37px;
  @include content-alignment(0);

  &--gray-bg {
    background-color: #f9f9f9;
  }

  @include tablet {
    padding-top: 38px;
    padding-bottom: 44px;
  }

  @include desktop-lg {
    padding-top: 43px;
    padding-bottom: 51px;
  }

  @include desktop-xl {
    padding-top: 92px;
    padding-bottom: 58px;
  }

  &:before {
    content: "";
    position: absolute;
    right: 0;
    background: url("../../assets/images/platforms/top-bg-sm.svg") no-repeat;
    width: 95px;
    height: 114px;
    top: 0;
    z-index: 0;

    @include tablet {
      background: url("../../assets/images/platforms/top-bg-md.svg") no-repeat;
      width: 219px;
      height: 263px;
    }

    @include desktop-xl {
      background: url("../../assets/images/platforms/top-bg-lg.svg") no-repeat;
      width: 332px;
      height: 398px;
    }
  }

  &--gray {
    background-color: #f9f9f9;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    flex-direction: column;

    @include desktop-lg {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-around;
    }

    @include desktop-xl {
      flex-direction: unset;
      justify-content: unset;

      &--reverse {
        flex-direction: row-reverse;
      }
    }
  }

  &__description {
    margin-bottom: 20px;

    @include desktop-lg {
      width: 440px;
      margin-right: 34px;
    }

    @include desktop-xl {
      width: 821px;
      margin-right: 230px;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 45px;
    font-weight: map-get($font-weight, "black");
    margin-top: 0;
    margin-bottom: 22px;

    @include tablet {
      font-size: 54px;
      line-height: 67px;
      margin-bottom: 26px;
    }

    @include desktop-lg {
      margin-bottom: 22px;
    }

    @include desktop-xl {
      color: #707070;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    word-break: break-word;

    > span {
      display: block;
    }

    @include tablet {
      font-size: 24px;
      line-height: 45px;
      margin-bottom: 21px;

      > span + span {
        margin-top: 45px;
      }
    }

    @include desktop-lg {
      margin-bottom: 10px;

      > span + span {
        margin-top: 0;
      }
    }

    @include desktop-xl {
      font-size: 28px;
      margin-bottom: 30px;

      > span + span {
        margin-top: 45px;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
    }

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
    }

    @include desktop-lg {
      margin-bottom: 40px;
    }

    @include desktop-xl {
      flex-direction: row;
      align-items: center;
    }
  }

  &__more-link {
    margin-right: 18px;
    font-weight: map-get($font-weight, "regular");
    font-size: 12px;
    line-height: 45px;
    width: auto;
    background: transparent;
    text-decoration: underline;
    text-transform: none;
    border-radius: 0;
    transition: all 0.3s;

    &:hover,
    &:active,
    &:focus {
      color: map-get($colors, "red");
      text-decoration: none;
      background: transparent;
      border-color: transparent;
    }

    @include tablet {
      order: 2;
      font-size: 22px;
      line-height: 27px;
    }

    @include desktop-lg {
      order: 1;
      margin-bottom: 21px;
    }

    @include desktop-xl {
      font-size: 24px;
      line-height: 45px;
      margin-right: 50px;
      margin-bottom: 0;
    }
  }

  &__download-link {
    width: auto;
    padding: 11px 21px;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;

    @include tablet {
      order: 1;
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 30px;
      padding: 15px 40px;
    }

    @include desktop-lg {
      order: 2;
      margin-bottom: 0;
    }
  }

  &__tool-icons {
    display: flex;
    align-items: center;
  }

  &__tool-icon {
    width: 25px;
    height: 25px;
    margin-right: 25px;

    @include desktop-lg {
      width: 35px;
      height: 35px;
      margin-right: 35px;
    }

    @include desktop-xl {
      width: 55px;
      height: 55px;
      margin-right: 55px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__tool-icon-img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }

  &__trader-icon {
    text-align: center;
    margin-bottom: 20px;
  }

  &__advantages {
    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__footer {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include desktop-lg {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
