@import "vars";
@import "mixins";

.mt5-page-promotion {
  background: url("../../assets/images/bg/split-bg/bg-sm.svg") no-repeat center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 33px;

  @include tablet {
    padding-top: 40px;
    padding-bottom: 33px;
    background: url("../../assets/images/bg/split-bg/bg-md.svg") no-repeat
      bottom;
    background-size: cover;
  }

  @include desktop-lg {
    padding-top: 150px;
    padding-bottom: 60px;
    background: url("../../assets/images/bg/split-bg/bg-lg.svg") no-repeat right;
    background-size: cover;
  }

  @include desktop-xl {
    padding-top: 161px;
    padding-bottom: 112px;
    background: url("../../assets/images/bg/split-bg/bg-xl.svg") no-repeat
      center;
    background-size: cover;
  }

  .top-market-promotion__wrapper {
    flex-direction: column-reverse;

    @include desktop-lg {
      flex-direction: row;
    }
  }

  .top-market-promotion__text {
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    @include tablet {
      font-size: 30px;
      line-height: 37px;
    }

    @include desktop-lg {
      font-size: 34px;
      line-height: 42px;
      text-align: left;
    }

    @include desktop-xl {
      font-size: 58px;
      line-height: 60px;
    }
  }

  .top-market-promotion__note {
    font-weight: map-get($font-weight, "black");
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    @include tablet {
      font-size: 22px;
      line-height: 27px;
    }

    @include desktop-lg {
      text-align: left;
    }

    @include desktop-xl {
      font-size: 28px;
      line-height: 45px;
    }
  }

  .top-market-promotion__btn {
    text-transform: unset;
    transition: all ease-in 0.4s;

    @include desktop-lg {
      color: map-get($colors, "white");
    }

    &:hover,
    &:focus,
    &:active {
      color: map-get($colors, "red");
      background-color: map-get($colors, "white");
    }
  }
}

.top-market-layout--mt {
  @include tablet {
    background: url("../../assets/images/bg/top-market-page/left/top-md.svg")
      no-repeat top;
  }

  @include desktop-lg {
    background: url("../../assets/images/bg/top-market-page/left/top-lg.svg")
      no-repeat top;
  }

  @include desktop-xl {
    background: url("../../assets/images/bg/top-market-page/left/top-xl.svg")
      no-repeat top;
  }

  .top-market-layout__wrapper {
    @include desktop-lg {
      max-width: 962px;
      margin: 0 auto;
    }

    @include desktop-xl {
      max-width: 1102px;
    }
  }

  .top-market-layout__title {
    text-align: center;
  }

  .table__body-column {
    width: 124px;

    @include tablet {
      width: 218px;
    }

    @include desktop-lg {
      width: 319px;
    }

    @include desktop-xl {
      width: 349px;
    }

    &:first-child {
      font-weight: map-get($font-weight, "regular");
      text-align: left;
      width: 80px;

      @include tablet {
        width: 239px;
      }

      @include desktop-lg {
        width: 247px;
      }

      @include desktop-xl {
        width: 283px;
      }
    }
  }

  .table__head-column--grouped {
    &:not(.table__head-column--empty) {
      text-transform: none;
    }
  }

  .table__head-column--empty {
    padding: 0;
  }
}
