@import "vars";
@import "mixins";

@mixin custom-parallax-bg-breakpoint {
  @media screen and (max-height: 950px) and (min-width: $md) and (max-width: $max-lg) {
    @content;
  }
}

@mixin custom-parallax-bg-breakpoint-2 {
  @media screen and (max-height: 750px) and (min-width: $lg) and (max-width: $max-xl) {
    @content;
  }
}

.promotion {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 90px;
  z-index: 5;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  // @include content-alignment(0);

  @include mobile {
    padding-left: 0;
    padding-right: 0;
  }

  @include tablet {
    min-height: 100vh;
    padding-top: 110px;
    padding-bottom: 55px;
  }

  @include desktop-lg {
    padding-top: 40px;
  }

  @include desktop-xl {
    padding-top: 180px;
    padding-bottom: 180px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @include tablet {
      padding: 0 30px;
    }

    @include desktop-lg {
      padding: 0 40px;
    }

    @include desktop-xl {
      padding: 0;
      flex-direction: unset;
      max-width: 1680px;

      &--reverse {
        flex-direction: row-reverse;
      }
    }

    @include desktop-2k {
      max-width: 2400px;
      flex-direction: unset;

      &--reverse {
        flex-direction: row-reverse;
      }
    }

    @include desktop-5k {
      max-width: 3840px;
      flex-direction: unset;

      &--reverse {
        flex-direction: row-reverse;
      }
    }
  }

  &__block {
    width: 100%;

    @include desktop-xl {
      width: 50%;
    }

    &--flexed {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__description {
    margin-bottom: 30px;

    @include desktop-xl {
      margin-bottom: 50px;
    }
  }

  &__text {
    word-break: break-word;
    text-align: center;
    font-weight: map-get($font-weight, "black");
    font-size: 24px;
    line-height: 30px;
    margin: 0;

    @include tablet {
      font-size: 36px;
      line-height: 45px;
      max-width: 663px;
      margin: 0 auto;
    }

    @include desktop-xl {
      text-align: left;
      font-size: 48px;
      line-height: 60px;
      width: 100%;
      margin: 0;
    }
  }

  &__note {
    display: block;
    font-weight: map-get($font-weight, "regular");
    font-size: 15px;
    line-height: 19px;
    margin: 20px 0 0;

    @include tablet {
      font-size: 25px;
      line-height: 31px;
    }

    @include desktop-xl {
      font-size: 30px;
      line-height: 37px;
    }
  }

  &__img {
    margin-bottom: 56px;
    max-width: 284px;

    @include tablet {
      max-width: 491px;
      margin-bottom: 86px;
    }

    @include desktop-lg {
      max-width: 365px;
      margin-bottom: 40px;
    }

    @include desktop-xl {
      max-width: 629px;
      margin-bottom: 0;
    }
  }

  &__btn {
    background: transparent;
    margin: 0 auto;
    transition: all ease-in 0.4s;

    @include tablet {
      line-height: 62px;
      width: 380px;
      font-size: 24px;
    }

    @include desktop-xl {
      margin: unset;
    }

    &--red {
      border: 2px solid map-get($colors, "red");

      &:hover,
      &:active,
      &:focus {
        background: map-get($colors, "red");
        color: map-get($colors, "white");
        border-color: map-get($colors, "red");
      }
    }

    &--black {
      color: map-get($colors, "black");
      border: 2px solid map-get($colors, "black");

      &:hover,
      &:active,
      &:focus {
        color: map-get($colors, "red");
        background: map-get($colors, "white");
        border-color: map-get($colors, "white");
      }
    }
  }
}

.promotion1 {
  .promotion__bg {
    background: url("../../assets/images/bg/promotions/promo1/promo1-sm.svg")
      no-repeat center;
    background-size: cover;
    background-position: 0 top;

    @include tablet {
      height: 300%;
      background: url("../../assets/images/bg/promotions/promotion-slide-tablet.jpg")
        no-repeat center;
      background-size: 300% 100%;
    }

    @include desktop-lg {
      background: url("../../assets/images/bg/promotions/promotion-slide-lg.jpg")
        no-repeat center;
      background-size: 300% 100%;
    }

    @include desktop-xl {
      background: url("../../assets/images/bg/promotions/promotion-slide.jpg")
        no-repeat center;
      background-size: 300% 100%;
    }

    @include custom-parallax-bg-breakpoint {
      height: 2900px;
    }

    @include custom-parallax-bg-breakpoint-2 {
      height: 3200px;
    }
  }
}

.promotion2 {
  padding-top: 87px;
  padding-bottom: 87px;

  @include tablet {
    padding-top: 45px;
    padding-bottom: 58px;
  }
  @include desktop-lg {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  @include desktop-xl {
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .promotion__bg {
    background: url("../../assets/images/bg/promotions/promo2/promo2-sm.svg")
      no-repeat;
    background-size: cover;

    @include tablet {
      background: none;
    }
  }
}

.promotion3 {
  padding-top: 81px;
  padding-bottom: 85px;

  @include tablet {
    padding-top: 95px;
    padding-bottom: 60px;
  }
  @include desktop-lg {
    padding-top: 42px;
    padding-bottom: 44px;
  }
  @include desktop-xl {
    padding-top: 86px;
    padding-bottom: 220px;
  }

  .promotion__bg {
    background: url("../../assets/images/bg/promotions/promo3/promo3-sm.svg")
      no-repeat center;
    background-size: cover;

    @include tablet {
      background: none;
    }
  }
}

.promotion4 {
  padding-top: 47px;
  padding-bottom: 66px;

  @include tablet {
    padding-top: 77px;
    padding-bottom: 77px;
  }
  @include desktop-lg {
    padding-top: 49px;
    padding-bottom: 85px;
  }
  @include desktop-xl {
    padding-top: 150px;
    padding-bottom: 204px;
  }

  .promotion__bg {
    background: url("../../assets/images/bg/promotions/promo4/promo4-sm_.svg")
      no-repeat center;
    background-size: cover;

    @include tablet {
      background: url("../../assets/images/bg/promotions/promo4/promo4-md_.svg")
        no-repeat center;
      background-size: cover;
    }

    @include desktop-lg {
      background: url("../../assets/images/bg/promotions/promo4/promo4-lg_.svg")
        no-repeat center;
      background-size: cover;
    }

    @include desktop-xl {
      background: url("../../assets/images/bg/promotions/promo4/promo4-xl_.svg")
        no-repeat right;
      background-size: cover;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 175px;
    height: 227px;
    background: url("../../assets/images/bg/promotions/promo4/promo4-bottom-sm.svg")
      no-repeat center;
  }

  @include tablet {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 256px;
      height: 367px;
      background: url("../../assets/images/bg/promotions/promo4/promo4-top-md.svg")
        no-repeat;
    }

    &:after {
      width: 239px;
      height: 247px;
      background: url("../../assets/images/bg/promotions/promo4/promo4-bottom-md.svg")
        no-repeat;
    }
  }

  @include desktop-lg {
    &:before {
      width: 293px;
      height: 239px;
      background: url("../../assets/images/bg/promotions/promo4/promo4-top-lg.svg")
        no-repeat;
    }

    &:after {
      width: 215px;
      height: 236px;
      background: url("../../assets/images/bg/promotions/promo4/promo4-bottom-lg.svg")
        no-repeat;
    }
  }

  @include desktop-xl {
    &:before {
      display: none;
      background: unset;
    }

    &:after {
      width: 408px;
      height: 493px;
      background: url("../../assets/images/bg/promotions/promo4/promo4-bottom-xl.svg")
        no-repeat;
    }
  }
}

.promotion--parallax-bg {
  .promotion__bg {
    background-attachment: fixed;
  }
}
