@import "vars";
@import "mixins";

.split-text-promotion {
  scroll-snap-align: start;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  color: map-get($colors, "black");
  overflow: hidden;

  &__wrapper {
    @include desktop-lg {
      display: grid;
      grid-auto-flow: row dense;
      grid-template-columns: 50% 50%;
      gap: 0 0;
      justify-content: center;
      justify-items: center;
      align-items: center;
      width: 100%;
    }
  }

  &__block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    @include content-alignment(0);

    &--left {
      position: relative;
      background: map-get($colors, "black");
      align-items: center;
      padding-top: 54px;
      padding-bottom: 64px;

      @include tablet {
        padding-top: 111px;
        padding-bottom: 130px;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 123px;
        height: 142px;
        background: url("../../assets/images/bg/company/ornament-sm.svg")
          no-repeat;
        z-index: 1;

        @include tablet {
          width: 252px;
          height: 291px;
          background: url("../../assets/images/bg/company/ornament-md.svg")
            no-repeat;
        }

        @include desktop-lg {
          width: 261px;
          height: 299px;
          background: url("../../assets/images/bg/company/ornament-lg.svg")
            no-repeat;
        }

        @include desktop-xl {
          width: 408px;
          height: 468px;
          background: url("../../assets/images/bg/company/ornament-xl.svg")
            no-repeat;
        }
      }

      // .split-text-promotion__content {
      //   position: relative;
      //   z-index: 2;
      //   width: 100%;
      //   max-width: 1680px;
      //   margin: 0 auto;
      //   padding: 0 15px;
      // }
    }

    &--right {
      background: url("../../assets/images/bg/company/split-text-promotion-sm.svg")
        no-repeat bottom right;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 32px;
      padding-bottom: 40px;
      padding-left: 100px;
      padding-right: 100px;

      @include mobile {
        padding-left: $padding-sm;
        padding-right: $padding-sm;
      }

      @include tablet {
        background: url("../../assets/images/bg/company/split-text-promotion-md.svg")
          no-repeat bottom right;
        padding-top: 91px;
        padding-bottom: 91px;
      }

      @include desktop-lg {
        background: url("../../assets/images/bg/company/split-text-promotion-lg.svg")
          no-repeat bottom right;
        padding-top: 68px;
        padding-bottom: 60px;
        padding-right: 125px;
      }

      @include desktop-xl {
        background: url("../../assets/images/bg/company/split-text-promotion-xl.svg")
          no-repeat bottom right;
        padding-top: 126px;
        padding-bottom: 128px;
      }

      @include desktop-2k {
        padding-right: 400px;
      }

      .split-text-promotion__content {
        width: 100%;
        max-width: 1680px;
        margin: 0 auto;
        padding: 0;
      }
    }
  }

  &__icon {
    width: 84px;
    height: 46px;

    @include tablet {
      width: 172px;
      height: 93px;
    }

    @include desktop-lg {
      width: 202px;
      height: 109px;
    }

    @include desktop-xl {
      width: 316px;
      height: 171px;
    }
  }

  &__title {
    margin: 0 0 45px;
    font-weight: map-get($font-weight, "black");
    font-size: 24px;
    line-height: 30px;

    @include tablet {
      line-height: 35px;
    }

    @include desktop-lg {
      font-size: 24px;
    }

    @include desktop-xl {
      font-size: 36px;
      line-height: 40px;
    }
  }

  &__subtitle {
    display: block;
    margin: 0 0 30px;
    font-weight: map-get($font-weight, "regular");
    font-size: 14px;
    line-height: 30px;

    @include tablet {
      font-size: 16px;
      line-height: 35px;
    }

    @include desktop-lg {
      font-size: 18px;
    }

    @include desktop-xl {
      font-size: 24px;
      line-height: 40px;
    }
  }

  &__text {
    margin: 0;
    font-weight: map-get($font-weight, "black");
    font-size: 22px;
    line-height: 30px;

    @include tablet {
      font-size: 24px;
      line-height: 35px;
    }

    @include desktop-xl {
      font-size: 36px;
      line-height: 40px;
    }
  }
}
