@use "vars" as *;
@use "mixins" as *;
@use "sass:map";

.swap-free-promotion {
  scroll-snap-align: start;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: map.get($colors, "white");
  @include tablet {
    padding: 42px 90px 62px 90px;
    background: url("/images/bg/top-market-page/left/bottom-md.svg") no-repeat
      bottom;
    background-size: cover;
  }
  @include desktop-lg {
    padding: 150px 120px 120px 120px;
    background: url("/images/bg/top-market-page/left/bottom-lg.svg") no-repeat
      bottom;
    background-size: cover;
  }
  @include desktop-xl {
    background: url("/images/bg/top-market-page/left/bottom-xl.svg") no-repeat
      bottom;
    background-size: cover;
  }
  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    @include desktop-xl {
      flex-direction: row;
    }
  }
  &__text-block {
    max-width: 250px;
    @include tablet {
      max-width: 605px;
    }
    @include desktop-lg {
      max-width: 892px;
    }
  }
  &__title {
    font-weight: map.get($font-weight, "regular");
    font-size: 15px;
    line-height: 19px;
    margin: 0;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    @include tablet {
      font-size: 21px;
      line-height: 26px;
      text-align: left;
      padding-top: 38px;
      padding-bottom: 20px;
    }
    @include desktop-lg {
      font-size: 30px;
      line-height: 37px;
    }
    @include desktop-xl {
      font-size: 48px;
      line-height: 60px;
      padding-bottom: 10px;
      padding-top: unset;
    }
  }
  &__description {
    font-weight: map.get($font-weight, "regular");
    font-size: 10px;
    line-height: 13px;
    margin: 0;
    text-align: center;
    padding-bottom: 15px;
    @include tablet {
      font-size: 18px;
      line-height: 22px;
      text-align: left;
      padding-bottom: 25px;
    }
    @include desktop-lg {
      font-size: 30px;
      line-height: 37px;
    }
    @include desktop-xl {
      font-size: 22px;
      line-height: 27px;
      padding-bottom: 45px;
    }
  }
  &__text {
    font-weight: map.get($font-weight, "regular");
    font-size: 10px;
    line-height: 13px;
    margin: 0;
    text-align: center;
    padding-bottom: 15px;
    @include tablet {
      font-size: 18px;
      line-height: 22px;
      text-align: left;
      padding-bottom: 25px;
    }
    @include desktop-lg {
      font-size: 30px;
      line-height: 37px;
    }
    @include desktop-xl {
      font-size: 22px;
      line-height: 27px;
      padding-bottom: 20px;
    }
  }
  &__img {
    max-width: 215px;
    @include tablet {
      max-width: 320px;
    }
    @include desktop-lg {
      max-width: 408px;
    }
    @include desktop-xl {
      max-width: 408px;
      margin-right: 173px;
    }
  }
}

.swap-free-center-promotion {
  scroll-snap-align: start;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 14px 110px 14px;
  background: map.get($colors, "white");
  @include tablet {
    padding-top: 50px;
    padding-bottom: 163px;
    background: url("/images/bg/top-market-page/left/top-md.svg") no-repeat top;
    background-size: cover;
  }
  @include desktop-lg {
    padding: 61px 120px 120px 120px;
    background: url("/images/bg/top-market-page/left/top-lg.svg") no-repeat top;
    background-size: cover;
  }
  @include desktop-xl {
    padding: 88px 120px 163px 120px;
    background: url("/images/bg/top-market-page/left/top-xl.svg") no-repeat top;
    background-size: cover;
  }
  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @include tablet {
      max-width: 720px;
    }
    @include desktop-lg {
      max-width: 1200px;
    }
    @include desktop-xl {
      max-width: 1680px;
    }
  }
  &__options {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    @include tablet {
      gap: 36px;
    }
    @include desktop-lg {
      gap: 33px;
    }
  }
  &__title {
    font-weight: map.get($font-weight, "black");
    font-size: 22px;
    line-height: 27px;
    margin: 0;
    text-align: center;
    padding-bottom: 30px;
    @include tablet {
      font-size: 36px;
      line-height: 45px;
      padding-bottom: 22px;
    }
    @include desktop-lg {
      font-size: 60px;
      line-height: 75px;
      padding-bottom: 56px;
    }
  }
}

.swap-free-promo-option-item {
  background-color: map.get($colors, "white");
  padding: 20px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px #0000001a;
  border-radius: 10px;
  text-align: center;
  width: 348px;
  @include tablet {
    padding: 41px 54px 22px 54px;
    width: 586px;
  }
  @include desktop-lg {
    padding: 46px 66px;
    width: 710px;
  }
  &__img {
    margin: 0 auto;
    max-width: 100%;
    height: 160px;
    @include tablet {
      height: 213px;
    }
    @include desktop-lg {
      height: 258px;
    }
  }
  &__title {
    color: map.get($colors, "black-secondary");
    font-weight: map.get($font-weight, "black");
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    padding-top: 20px;
    @include tablet {
      font-size: 20px;
      line-height: 25px;
      padding-top: 30px;
    }
    @include desktop-lg {
      font-size: 25px;
      line-height: 31px;
      padding-top: 37px;
    }
  }
  &__text {
    color: map.get($colors, "black-secondary");
    font-weight: map.get($font-weight, "regular");
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    @include tablet {
      font-size: 22px;
      line-height: 27px;
      padding-top: 17px;
      padding-bottom: 25px;
    }
    @include desktop-lg {
      font-size: 22px;
      line-height: 27px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  &__text-block {
    @include desktop-lg {
      min-height: 121px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__btn {
    width: 152px;
    font-weight: map.get($font-weight, "black");
    font-size: 8px;
    line-height: 25px;
    border: 2px solid map.get($colors, "red");
    align-self: center;
    @include tablet {
      font-size: 24px;
      line-height: 62px;
      width: 380px;
    }
    @include desktop-lg {
      font-size: 18px;
      line-height: 40px;
      width: 300px;
    }
  }
}

.swap-free-bottom-promotion {
  scroll-snap-align: start;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: map.get($colors, "white");
  padding-top: 69px;
  padding-bottom: 59px;
  background-color: map.get($colors, "black-secondary");
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    @include desktop-lg {
      background: url("/images/swap-free/trg-bg-bot-lg.svg") no-repeat right
        bottom;
      background-size: 177px 213px;
    }
    @include desktop-xl {
      background: url("/images/swap-free/trg-bg-bot-xl.svg") no-repeat right
        bottom;
      background-size: 261px 299px;
    }
  }
  @include tablet {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  &__title {
    text-align: center;
    color: map.get($colors, "black-secondary");
    font-weight: map.get($font-weight, "black");
    font-size: 23px;
    line-height: 28px;
    margin: 0;
    padding-bottom: 10px;
    max-width: 266px;
    @include tablet {
      font-size: 32px;
      line-height: 40px;
      padding-bottom: 20px;
      max-width: unset;
    }
    @include desktop-lg {
      font-size: 24px;
      line-height: 30px;
    }
    @include desktop-xl {
      font-size: 60px;
      line-height: 75px;
      padding-bottom: 12px;
    }
  }
  &__text {
    text-align: center;
    color: map.get($colors, "white");
    font-weight: map.get($font-weight, "regular");
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    padding-bottom: 25px;
    @include tablet {
      font-size: 22px;
      line-height: 27px;
      padding-bottom: 56px;
    }
    @include desktop-lg {
      font-size: 24px;
      line-height: 30px;
      max-width: unset;
    }
    @include desktop-xl {
      font-size: 32px;
      line-height: 40px;
      padding-bottom: 77px;
    }
  }
  &__btn {
    width: 190px;
    font-weight: map.get($font-weight, "black");
    font-size: 11px;
    line-height: 31px;
    color: map.get($colors, "red");
    background: map.get($colors, "black-secondary");
    border: 2px solid map.get($colors, "red");
    align-self: center;
    &:hover {
      color: map.get($colors, "red");
      background: map.get($colors, "white");
    }
    @include tablet {
      font-size: 24px;
      line-height: 62px;
      width: 380px;
    }
  }
}

.swap-free-advantages {
  scroll-snap-align: start;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background: map.get($colors, "black") 0 0% no-repeat padding-box;
  padding: 88px 28px 72px 28px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  @include tablet {
    padding-top: 75px;
    padding-bottom: 130px;
  }
  @include desktop-lg {
    padding-top: 98px;
    padding-bottom: 118px;
  }
  &:before {
    @include desktop-lg {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      width: 100vw;
      height: 100%;
      background: url("/images/swap-free/trg-bg-top-lg.svg") no-repeat;
      z-index: 1;
      pointer-events: none;
    }
    @include desktop-xl {
      background: url("/images/swap-free/trg-bg-top-xl.svg") no-repeat;
      width: 261px;
      height: 299px;
    }
  }
  &__title {
    font-weight: map.get($font-weight, "black");
    font-size: 18px;
    line-height: 22px;
    color: map.get($colors, "red");
    padding-bottom: 62px;
    margin: 0;
    @include tablet {
      font-size: 26px;
      line-height: 32px;
      padding-bottom: 79px;
    }
    @include desktop-lg {
      font-size: 60px;
      line-height: 75px;
      padding-bottom: 70px;
    }
    @include desktop-xl {
      padding-bottom: 134px;
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 73px;
    justify-content: center;
    @include tablet {
      gap: 81px;
    }
    @include desktop-lg {
      gap: 75px;
    }
  }
}

.swap-free-advantage-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 99px;
  @include tablet {
    width: 200px;
  }
  @include desktop-lg {
    width: 350px;
  }
  @include desktop-xl {
    width: 350px;
  }
  &__title {
    text-align: center;
    font-weight: map.get($font-weight, "black");
    font-size: 10px;
    line-height: 13px;
    margin: 0;
    color: map.get($colors, "white");
    padding-top: 10px;
    @include tablet {
      font-size: 12px;
      line-height: 15px;
      padding-top: 20px;
    }
    @include desktop-lg {
      font-size: 22px;
      line-height: 27px;
      padding-top: 20px;
    }
  }
  &__icon {
    width: 58px;
    @include tablet {
      width: 90px;
    }
    @include desktop-lg {
      width: 71px;
    }
    @include desktop-xl {
      width: 142px;
    }
  }
  a {
    color: map.get($colors, "red");
    text-decoration: underline;
    transition: all 0.3s;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}
