@import "vars";
@import "mixins";

.top-market {
  scroll-snap-align: start;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background: url("../../assets/images/top-markets/bg.svg") no-repeat center
    center;
  background-color: #fff;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 55px;
  // @include content-alignment(0);

  @include mobile {
    padding-left: $padding-sm;
    padding-right: $padding-sm;
  }

  @include tablet {
    padding-top: 90px;
    padding-bottom: 50px;
  }

  @include desktop-lg {
    padding-top: 150px;
    padding-bottom: 47px;
  }

  @include desktop-xl {
    min-height: calc(100vh - #{$header-height});
    padding-top: 150px;
    padding-bottom: 150px;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;

    @include desktop-lg {
      max-width: 1200px;
    }

    @include desktop-xl {
      max-width: 1680px;
      flex-direction: unset;

      &--reverse {
        flex-direction: row-reverse;
      }
    }

    @include desktop-2k {
      max-width: 2400px;
      flex-direction: unset;

      &--reverse {
        flex-direction: row-reverse;
      }
    }

    @include desktop-5k {
      max-width: 3840px;
      flex-direction: unset;

      &--reverse {
        flex-direction: row-reverse;
      }
    }
  }

  &__block {
    width: 100%;

    @include desktop-xl {
      width: 50%;
    }

    &--flexed {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    color: map-get($colors, "white");
    font-weight: map-get($font-weight, "black");
    font-size: 34px;
    line-height: 42px;
    margin: 0 0 30px;
    text-align: center;

    &--uppercase {
      text-transform: uppercase;
    }

    @include tablet {
      font-size: 60px;
      line-height: 75px;
    }

    @include desktop-lg {
      font-size: 40px;
      line-height: 50px;
    }

    @include desktop-xl {
      text-align: left;
      font-size: 60px;
      line-height: 75px;
      margin: 0 0 60px;
    }
  }

  &__description {
    margin-bottom: 30px;

    @include desktop-lg {
      margin-bottom: 40px;
    }

    @include desktop-xl {
      margin-bottom: 50px;
    }
  }

  &__text {
    word-break: break-word;
    text-align: center;
    font-weight: map-get($font-weight, "black");
    font-size: 24px;
    line-height: 30px;
    margin: 0;

    @include tablet {
      font-size: 36px;
      line-height: 45px;
      max-width: 663px;
      margin: 0 auto;
    }

    @include desktop-lg {
      font-size: 30px;
      line-height: 37px;
      max-width: 780px;
      margin: 0 auto;
    }

    @include desktop-xl {
      text-align: left;
      font-size: 48px;
      line-height: 60px;
      max-width: 863px;
      margin: 0;
    }

    &--small {
      @include desktop-xl {
        font-size: 36px;
        line-height: 45px;
      }
    }
  }

  &__note {
    display: block;
    font-weight: map-get($font-weight, "regular");
    font-size: 15px;
    line-height: 19px;
    margin: 20px 0 0;

    @include tablet {
      font-size: 25px;
      line-height: 31px;
    }

    @include desktop-xl {
      font-size: 30px;
      line-height: 37px;
    }
  }

  &__img {
    max-width: 255px;
    height: auto;
    margin-bottom: 50px;

    @include tablet {
      max-width: 370px;
      margin-bottom: 40px;
    }

    @include desktop-lg {
      max-width: 320px;
      margin-bottom: 30px;
    }

    @include desktop-xl {
      max-width: 70%;
      margin-bottom: 70px;
    }
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include desktop-lg {
      flex-direction: row;
      justify-content: center;
    }

    @include desktop-xl {
      justify-content: flex-start;
    }
  }

  &__btn {
    margin: 0 auto 10px;

    @include tablet {
      line-height: 62px;
      width: 380px;
      font-size: 24px;
    }

    @include desktop-lg {
      margin: 0 10px;
    }

    @include desktop-xl {
      &:first-child {
        margin: 0 10px 0 0;
      }
      &:last-child {
        margin: 0 0 0 10px;
      }
    }

    &--white {
      border: 2px solid map-get($colors, "white");

      &:hover,
      &:active,
      &:focus {
        color: map-get($colors, "white");
        background: map-get($colors, "red");
      }
    }

    &--black {
      color: map-get($colors, "black");
      border: 2px solid map-get($colors, "black");
      background: transparent;

      &:hover,
      &:active,
      &:focus {
        background: map-get($colors, "white");
        border-color: map-get($colors, "white");
        color: map-get($colors, "red");
      }
    }
  }
}

.top-market--platforms {
  .top-market__img {
    height: 114px;
    max-width: 100%;
    margin-bottom: 0;

    @include tablet {
      height: 226px;
    }

    @include desktop-lg {
      height: 186px;
    }

    @include desktop-xl {
      height: 384px;
    }
  }

  .top-market__text {
    font-size: 32px;
    line-height: 40px;

    @include tablet {
      font-size: 42px;
      line-height: 53px;
    }

    @include desktop-lg {
      font-size: 50px;
      line-height: 63px;
    }

    @include desktop-xl {
      font-size: 60px;
      line-height: 75px;
    }
  }

  .top-market__trader-tools {
    display: flex;
    align-items: center;
    margin: 50px 0;
    padding: 8px 31px;
    border-radius: $border-radius-default;
    background: map-get($colors, "white");

    img {
      width: 81px;
      height: 21px;
    }

    img + img {
      margin-left: 30px;
    }

    @include tablet {
      margin: 60px 0;
      padding: 12px 40px;
      max-width: 100%;

      img {
        width: 202px;
        height: 52px;
      }

      img + img {
        margin-left: 25px;
      }
    }

    @include desktop-lg {
      margin: 24px 0;
      padding: 12px 40px;
    }

    @include desktop-xl {
      margin-top: 32px;
      padding: 10px 34px;

      img + img {
        margin-left: 20px;
      }
    }
  }

  .top-market__block--flexed {
    flex-direction: column;
  }
}

.top-market--spreads-page {
  .top-market__title {
    @include tablet {
      font-size: 56px;
      line-height: 70px;
    }

    @include desktop-lg {
      font-size: 40px;
      line-height: 50px;
    }

    @include desktop-xl {
      font-size: 58px;
      line-height: 60px;
      margin-bottom: 20px;
    }
  }

  .top-market__text {
    font-size: 20px;
    line-height: 25px;

    @include tablet {
      font-size: 24px;
      line-height: 30px;
    }

    @include desktop-xl {
      font-size: 28px;
      line-height: 45px;
      max-width: 820px;
    }
  }

  .top-market__img {
    max-width: 295px;

    @include tablet {
      max-width: 543px;
    }

    @include desktop-lg {
      max-width: 451px;
    }

    @include desktop-xl {
      max-width: 679px;
    }
  }
}
