@use "vars" as *;
@use "mixins" as *;
@use "sass:map";

@mixin custom-mobile-breakpoint {
  @media screen and (max-width: 490px) {
    @content;
  }
}

.trading-tools {
  scroll-snap-align: start;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background: url("/images/bg/trading-tools/trading-tools-sm.svg") no-repeat
    bottom;
  background-color: #fff;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  z-index: 5;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("/images/bg/trading-tools/trading-tools-bottom-sm.svg")
      no-repeat;
    width: 174px;
    height: 227px;
  }
  @include tablet {
    padding-top: 115px;
    padding-bottom: 230px;
    background: url("/images/bg/trading-tools/trading-tools-md.svg") no-repeat
      bottom;
    background-color: #fff;
    background-size: cover;
    &:after {
      background: url("/images/bg/trading-tools/trading-tools-bottom-md.svg")
        no-repeat;
      width: 290px;
      height: 304px;
    }
  }
  @include desktop-lg {
    padding-top: 70px;
    padding-bottom: 55px;
    background: url("/images/bg/trading-tools/trading-tools-lg.svg") no-repeat
      bottom;
    background-color: #fff;
    background-size: cover;
    &:after {
      background: url("/images/bg/trading-tools/trading-tools-bottom-lg.svg")
        no-repeat;
      width: 230px;
      height: 238px;
    }
  }
  @include desktop-xl {
    padding-top: 150px;
    padding-bottom: 250px;
    background: url("/images/bg/trading-tools/trading-tools-xl.svg") no-repeat
      bottom;
    background-size: cover;
    &:after {
      background: url("/images/bg/trading-tools/trading-tools-bottom-xl.svg")
        no-repeat;
      width: 377px;
      height: 592px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 606px;
    width: 100%;
    @include tablet {
      max-width: unset;
      width: unset;
    }
  }
  &__icon-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    @include custom-mobile-breakpoint {
      justify-content: center;
    }
    @include tablet {
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      flex-direction: unset;
    }
  }
  &__img-wrapper {
    margin-top: 30px;
    margin-bottom: 55px;
    @include tablet {
      margin-top: 35px;
      margin-bottom: 65px;
    }
    @include desktop-xl {
      margin-top: 80px;
      margin-bottom: 50px;
    }
  }
  &__title {
    max-width: 380px;
    word-break: break-word;
    text-align: center;
    margin: 0 0 30px;
    font-weight: map.get($font-weight, "black");
    font-size: 24px;
    line-height: 30px;
    @include tablet {
      max-width: 570px;
      margin: 0 0 25px;
      font-size: 36px;
      line-height: 45px;
    }
    @include desktop-xl {
      max-width: 100%;
      margin: 0 0 36px;
      font-size: 48px;
      line-height: 60px;
    }
  }
  &__btn {
    background: transparent;
    border: 2px solid map.get($colors, "red");
    transition: 0.1s;
    margin: 0 auto;
    transition: all ease-in 0.4s;
    &:hover,
    &:active,
    &:focus {
      background: map.get($colors, "red");
      color: map.get($colors, "white");
    }
    @include tablet {
      line-height: 62px;
      width: 380px;
      font-size: 24px;
    }
    @include desktop-xl {
      margin: unset;
    }
  }
}

.platform-block {
  margin-right: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: unset;
  @include custom-mobile-breakpoint {
    width: 30%;
  }
  @include tablet {
    margin-right: 45px;
    margin-bottom: 0;
  }
  @include desktop-xl {
    margin-right: 70px;
  }
  &:last-child {
    margin-right: 10px;
    @include tablet {
      margin-right: 0;
    }
  }
  &:first-child {
    margin-right: 0;
    @include tablet {
      margin-right: 45px;
    }
    @include desktop-xl {
      margin-right: 70px;
    }
  }
  &__img {
    max-width: 90px;
    max-height: 45px;
    width: auto;
    height: auto;
    @include tablet {
      max-width: 100%;
      height: auto;
    }
  }
}

.device-block {
  position: relative;
  @include tablet {
    margin-left: 140px;
  }
  &__img {
    max-width: 100%;
    height: auto;
    transition: 0.2s;
    &--phone {
      position: absolute;
      z-index: 3;
      @include tablet {
        max-width: 106px;
        top: 68px;
        left: -135px;
      }
      @include desktop-xl {
        top: 96px;
        left: -180px;
        max-width: 100%;
      }
    }
    &--tablet {
      position: absolute;
      z-index: 2;
      @include tablet {
        max-width: 155px;
        top: 25px;
        left: -60px;
      }
      @include desktop-xl {
        top: 35px;
        left: -75px;
        max-width: 100%;
      }
    }
    &--laptop {
      @include tablet {
        max-width: 473px;
      }
      @include desktop-xl {
        max-width: 100%;
      }
    }
    &--all-devices {
      max-width: 100%;
      @include tablet {
        display: none;
      }
    }
  }
  -no-animation {
    transition: none !important;
    animation: none !important;
  }
}

.device-block.device-block--animated {
  .device-block__img {
    transition: 0.3s;
    &--phone {
      transition-delay: 0.8s;
    }
    &--tablet {
      transition-delay: 0.4s;
    }
    &--laptop {
      position: relative;
      left: 0;
    }
  }
}
