@import "vars";
@import "mixins";

.video-banner {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background-color: map-get($colors, "red");
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: $header-height-small-mobile;

  @include desktop-lg {
    padding-top: unset;
  }

  &__video {
    width: 100%;
    height: auto;
  }

  &__wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: map-get($colors, "white");
    @include content-alignment(0);
  }

  &__title {
    margin: 0 0 11px;
    font-weight: map-get($font-weight, "black");
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    @include tablet {
      font-size: 32px;
      line-height: 40px;
      margin: 0 0 20px;
    }

    @include desktop-xl {
      margin: 0 0 35px;
      font-size: 60px;
      line-height: 75px;
    }
  }

  &__subtitle {
    display: block;
    text-align: center;
    font-weight: map-get($font-weight, "regular");
    font-size: 14px;
    line-height: 18px;
    max-width: 190px;

    @include tablet {
      font-size: 19px;
      line-height: 23px;
      max-width: unset;
    }

    @include desktop-xl {
      font-size: 36px;
      line-height: 45px;
    }
  }
}
